# Server
PORT=6001
NODE_ENV=development

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_aksara_ai

# JWT
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=7d

# AI API (Groq)
GROQ_API_KEY=your_groq_api_key_here

# DiceBear
DICEBEAR_BASE_URL=https://api.dicebear.com/9.x/adventurer/svg
